.all_here_c {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather', sans-serif;
  background-image: url("../../img/part4.png");
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-color: rgba(244, 241, 222, 0.5);
}

.conference {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather', sans-serif;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.conference__all_here {
  padding: 70px 0 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.conference__all_here_text_1 {
  line-height: 60px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 500;
}

.conference__all_here_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.part_1_conference {
  padding: 0 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.part_1_conference__text_1 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.part_2_conference {
  padding: 0 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.part_2_conference_img {
  width: 100%;
  border-radius: 20px;
}

.part_1_conference__text_2 {
  line-height: 26px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.cf__2 {
  margin-top: -40px;
}

#conf {
  margin-top: -50px;
}

.conference__all_here_text_11 {
  margin-top: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 500;
}

.testimonies__all22 {
  padding: 75px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Montserrat', serif;
}

.aaa1 {
  width: 100%;
 justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: white;
}

.all_aaa1 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.conf__22 {
  width: 100%;
  display: flex;
  padding-bottom: 75px;
}